/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0px;
  padding-left: 10px;
  font-size: 2rem;
}

.white-text {
  background-color: red;
  padding: 10px;
  color: white;
}



#outer-box{
  background-color: purple;
}

